# dependencies
node_modules/
.pnp
.pnp.*

# build output
dist/
build/
.next/
out/

# env files
.env
.env.local
.env.*.local

# logs
*.log
npm-debug.log*

# testing
coverage/

# vercel
.vercel

# misc
.DS_Store
*.pem
*.tsbuildinfo
next-env.d.ts
